:root {
	--bg-colour: antiquewhite;
	--accent-colour: darkslategrey;
}

@font-face {
	font-family: CourierPrime;
	font-weight: normal;
	font-style: normal;
	src: url(/assets/courier-prime.regular.ttf)
}

@font-face {
	font-family: CourierPrime;
	font-weight: bold;
	font-style: normal;
	src: url(/assets/courier-prime.bold.ttf)
}

@font-face {
	font-family: CourierPrime;
	font-weight: normal;
	font-style: italic;
	src: url(/assets/courier-prime.italic.ttf)
}

@font-face {
	font-family: CourierPrime;
	font-weight: bold;
	font-style: italic;
	src: url(/assets/courier-prime.bold-italic.ttf)
}

body {
	margin: 2rem auto;
	max-width: 40rem;
	padding: 0 0.625rem;
	line-height: 1.5;
	font-size: 18px;
	font-family: CourierPrime, monospace;
	background-color: var(--bg-colour);
}

h1, h2, h3 {
	line-height: 1.2;
	font-family: CourierPrime, monospace;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.25rem;
}

ul li {
	list-style-type: "- ";
}

nav {
	background-color: var(--accent-colour);
}

nav ul {
	display: flex;
	flex-wrap: wrap;
}

nav li {
	list-style-type: none;
}

nav li:not(:last-child) {
	margin-right: 2rem;
}

nav a {
	color: white;
	display: inline-block;
	height: 100%;
}

nav a:hover {
	background-color: var(--bg-colour);
	color: black;
}

hr {
	border: none;
	position: relative;
	height: 1rem;
}

hr::after {
	content: "* * *";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: black;
}

pre {
	background-color: lightgrey;
	padding: 1rem;
	margin: 0;
	border: 1px solid black;
	font-size: 1rem;
}

blockquote {
	background-color: lightgrey;
	padding: 0 1rem;
	margin: 0;
	border: 1px solid black;
	font-size: 1rem;
	font-style: italic;
}

.skip-to-content {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(-100%);
	transition: transform 0.3s;
}

.skip-to-content:focus {
	transform: translateY(0%);
}

.horizontal-list {
	display: flex;
	justify-content: center;
	padding-left: 0;
}

.horizontal-list li {
	list-style-type: none;
	padding: 0 0.75rem;
}

.articles,
.breadcrumbs {
	padding: 0;
}

.article-item,
.breadcrumb-item {
	list-style-type: none;
	margin-bottom: 1rem;
}

.breadcrumb-item {
	display: inline;
}

.breadcrumb-item:not(:last-child)::after {
	content: "/"
}
