<!doctype html>

<html lang="en">
  <head>
  	<meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<title>Aron Lebani</title>
		<meta name="description" content="This is my website" />
  	<meta property="og:title" content="Aron Lebani" />
  	<meta property="og:url" content="https://lebani.dev" />
  	<meta property="og:type" content="website" />
  	<meta property="og:description" content="This is my website" />
  	<link rel="stylesheet" href="/stylesheet.css">
		<link rel="icon" type="image/png" href="/assets/favicon-16x16.png" sizes="16x16">
		<link rel="icon" type="image/png" href="/assets/favicon-32x32.png" sizes="32x32">
  </head>
  <body>
		<header>
			<nav>
				<ul>
					<li><a href="/">home</a></li>
					<li><a href="/projects.html">projects</a></li>
					<li><a href="/reading.html">reading</a></li>
					<li><a href="/writing.html">writing</a></li>
				</ul>
			</nav>
		</header>
		<main>
			<% unless @item.path == '/' %>
				<ul class="breadcrumbs">
					<% breadcrumbs_trail.compact.each do |item| %>
						<li class="breadcrumb-item">
							<a href="<%= item.path %>"><%= breadcrumb_title item %></a>
						</li>
					<% end %>
				</ul>
			<% end %>
			<%= yield %>
		</main>
		<hr />
		<footer>
			<p>
				I acknowledge the Wurundjeri people as the Traditional custodians of
				the land on which I live, work, create, play and learn. I pay my
				respects to their elders past and present, and to all First Nations
				people and communities.
			</p>
			<p>
				The source code for this website can be found
				<a href="https://github.com/aronlebani/lebani.dev.git" target="_blank">here</a>.
			</p>
			<p>(c) <%= Time.now.year %> Aron Lebani</p>
		</footer>
  </body>
</html>
